html {
	box-sizing: border-box;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

body {
	height: 100%;
	background-color: $bg;
	font-size: 13px;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.content {
	flex: 1 1 100%;
}

.header {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 50;
}

.main {
	padding-top: 44px;
}

.container {
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 15px;

	&--middle {
		max-width: 1200px;
	}

	&--fluid {
		max-width: 100%;
	}
}

.banner {
	text-transform: uppercase;
	text-align: center;
	padding: 52px 50px;
	font-size: 36px;
	line-height: 48px;
	background-color: $dark;
	color: #fff;
	@include font400;
	transition: all 0.5s;

	span {
		@include font700;
	}

	&:hover {
		color: $accent;
	}
}

.btn {
	cursor: pointer;
	border: 2px solid rgb(115, 115, 115);
	padding: 20px 30px;
	@include font700;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	color: #454647;

	transition: all 0.3s;

	&:hover {
		border-color: $accent;
		background-color: $accent;
		color: #fff;
	}

	&:focus {
		box-shadow: 2px 2px 5px $accent, inset 2px 2px 5px $accent;
		border-color:  transparent;
	}

	&:active {
		transition: all 0.1s;
		background-color: darken($accent, 3%);
	}
}

.hero {
	height: 920px;	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 60px;

	&__inner {
		position: relative;
		height: 920px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__title {
		font-size: 450px;
		text-transform: uppercase;
		letter-spacing: 270px;
		@include font700;
		color: #575153;
	}

	&__btn {
		position: absolute;
		right: 190px;
		bottom: 120px;
	}
}