html {
	box-sizing: border-box;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

body {
	height: 100%;
	background-color: $bg;
	font-size: 13px;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.content {
	flex: 1 1 100%;
}

.container {
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 15px;

	&--middle {
		max-width: 1200px;
	}

	&--fluid {
		max-width: 100%;
	}
}

.banner {
	text-transform: uppercase;
	text-align: center;
	padding: 52px 50px;
	font-size: 36px;
	line-height: 48px;
	background-color: $dark;
	color: #fff;
	@include font400;
	transition: all 0.5s;

	span {	
		@include font700;
	}

	&:hover {
		color: $accent;
	}
}

.btn {
	cursor: pointer;
	border: 2px solid rgb(115, 115, 115);
	padding: 20px 30px;
	@include font400;
	font-size: 16px;
	letter-spacing: 0.2px;
	color: #454647;	
}
